.loading-wrapper{
  display: none;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgb(220, 220, 223);
  z-index: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.loading-wrapper.active{
  display: flex;
}

.loading{
  width: 200px;
  height: 200px;
  position: relative;
}
.loading::before, .loading::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: blue;
  border-radius: 50%;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  animation: s 1.2s linear infinite; 
}
.loading::after{
  animation-delay: 0.6s;
}
@keyframes s{
  0%{
    width: 0; height: 0; opacity: 1;
  }
  100%{
    width: 100px; height: 100px; opacity: 0;
  }
}